/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
}

.card img {
    object-fit: cover;
    display: block;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    margin: 0px;
    font-size: 14px;
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Navigation ***********/
#logo-booki {
    height: 20px;
    width: auto;
}

/* Structure du header */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Supprime les marges/paddings du ul */
.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0px;
    padding: 0px;
}

/* Style des liens */
.nav-links a {
    text-decoration: none;
    color: black;
    padding: 20px 0px;
    display: block;
    border-top: 2px solid transparent;
}

.nav-links a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** Recherche ***********/

.recherche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recherche h1 {
    font-size: 24px;
    margin-bottom: 0px;
}

.recherche p {
    margin-top: 10px;
    padding: 2px;
}

.formulaire-recherche {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.icone-recherche {
    background-color: #F2F2F2;
    padding: 12px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
  color: #000;
}

.barre-de-recherche {
    flex-grow: 1;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px;
    box-sizing: border-box;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.barre-de-recherche input {
    flex: 1;
    border: none;
    height: 35px;
    padding: 0px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.barre-de-recherche input:focus{
    outline: 2px solid var(--main-color);
    box-shadow: 0 0 0 2px var(--main-color);
}

.bouton-rechercher {
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 20px;
    height: 40px;
    cursor: pointer;
}

.bouton-rechercher:hover {
    background-color: #0050c5;
}

/****** Filtres ***********/

.filtres h2 {
    font-size: 18px;
}

.filtres-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.filtre {
    background-color: white;
    border-radius: 20px;
    border: 2px solid #F2F2F2;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.filtre i {
    margin-right: 10px;
}

.filtre:hover {
    background-color: var(--filter-bg-color);
    border: 2px solid var(--main-color);
}

.info i {
    color: var(--main-color);
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 12px;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
}

/****** Hebergements et Populaires ***********/

.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.hebergements-et-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.hebergements-cards a {
    display: block;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 31%;
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-rating {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 12px;
}

.show-more {
    display: inline-block;
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 30px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
}

.activites .card-title {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.activites-cards img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card {
    width: 25%;
    background-color: transparent;
    padding: 0;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.08);
}