/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Navigation ***********/
#logo-booki {
    height: 20px;
    width: auto;
}

/* Structure du header */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

/* Supprime les marges/paddings du ul */
.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0px;
    padding: 0px;
}

/* Style des liens */
.nav-links a {
    text-decoration: none;
    color: black;
    padding: 20px 0px;
    display: block;
    border-top: 2px solid transparent;
}

.nav-links a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** Recherche ***********/

.recherche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
}

.recherche h1 {
    font-size: 24px;
    margin-bottom: 0px;
}

.recherche p {
    margin-top: 10px;
    padding: 2px;
}

.formulaire-recherche {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.icone-recherche {
    background-color: #F2F2F2;
    padding: 12px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
  color: #000;
}

.barre-de-recherche {
    flex-grow: 1;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px;
    box-sizing: border-box;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.barre-de-recherche input {
    flex: 1;
    border: none;
    height: 35px;
    padding: 0px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.bouton-rechercher {
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 20px;
    height: 40px;
    cursor: pointer;
}

.bouton-rechercher:hover {
    background-color: #0050c5;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
