/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

        /****** Layout général ***********/
    .main-container {
        padding: 0px 30px;
    }

    /****** Hébergements + Populaires ***********/
    .hebergements-et-populaires {
        flex-direction: column;
        gap: 40px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a {
    width: 33%;
    display: block;
}
    
    /****** Activités ***********/

.activites-cards img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    padding: 5px 20px;
}

}